.gray {background-color:#ddd;}
.showcase-html-section h1 {color: #492365;font-family: 'tradegothicltstd-boldext', sans-serif;margin: 1em 0;}
.showcase-html-section{padding-top:0;}
[class^="sig-"] { margin: 0 !important; }