/****** Utilities *******/
@import "./ui-utilities-master/variables";
@import "./ui-utilities-master/placeholders";
@import "./ui-utilities-master/functions";
@import "./ui-utilities-master/mixins";

/******* Global CSS *******/
/******* mods to base code or main.css ********/

/******* Modules *******/

/******** Pages ********/
.banner {
  &--marcomm-home {
    @include bg-interchange-retina('https://www.weber.edu/wsuimages/marketing-communications/banners/marcomm-home-banner-placeholder-1x.jpg');
    @include bg-img-placement(center, top);
  }
}

.home-content {
  padding-bottom: 1px;
  &__row {
    margin-bottom: 100px;
    @media #{$target-tablet-over} {
      margin-bottom: 162px;
    }
  }
  &__square {
    &-text {
      @include flex-row(center, center);
      //padding: 5em;
      font-family: $font-tg;
      font-size: 1.5em;
      &--right {
        @media #{$target-tablet-over} {
          justify-content: flex-end;
      }
        &__content {
          padding: 1em;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media #{$target-tablet-over} {
            align-items: flex-start;
          }
        }
      }
      &--left {
        @media #{$target-tablet-over} {
          justify-content: flex-start;
        }
        &__content {
          padding: 1em;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media #{$target-tablet-over} {
            justify-content: flex-end;
          }
        }
      }
      p {
        text-align: center;
        max-width: 400px;
      }
    }
  }
}

//@import "pages/*";




/****** Custom Typography ********/
@font-face {
  font-family: 'honest-designer';
  src: local('honest-designer');
  src: url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff2") format("woff2"),/* Modern Browsers */
  url("https://www.weber.edu/wsuimages/ever-upward/fonts/honestscript-regular-webfont.woff") format("woff");/* Modern Browsers */
  unicode-range: U+0020-007E;
  font-weight: 700;
  font-style: normal;
  font-display: block;
}